[project]
	description = OpenStack SQE team repository for storing tools\\scripts for test automation and all automatic tests
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ymorkovn
[access "refs/for/refs/*"]
	read = group user/ymorkovn
	push = group user/ymorkovn
	label-Code-Review = -2..+2 group user/ymorkovn
	label-Verified = -1..+1 group user/ymorkovn
	rebase = group user/ymorkovn
	removeReviewer = group user/ymorkovn
	submit = group user/ymorkovn
[access "refs/heads/*"]
	read = group user/ymorkovn
	create = group user/ymorkovn
	push = +force group user/ymorkovn
	pushMerge = group user/ymorkovn
[access "refs/tags/*"]
	push = +force group user/ymorkovn
	pushTag = group user/ymorkovn
	pushSignedTag = group user/ymorkovn
